In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop("RID",axis=1)
pd_data

    RID          age  income student credit_rating class_buys_computer
0     1        youth    high      no          fair                  no
1     2        youth    high      no     excellent                  no
2     3  middle_aged    high      no          fair                 yes
3     4       senior  medium      no          fair                 yes
4     5       senior     low     yes          fair                 yes
5     6       senior     low     yes     excellent                  no
6     7  middle_aged     low     yes     excellent                 yes
7     8        youth  medium      no          fair                  no
8     9        youth     low     yes          fair                 yes
9    10       senior  medium     yes          fair                 yes
10   11        youth  medium     yes     excellent                 yes
11   12  middle_aged  medium      no     excellent                 yes
12   13  middle_aged    high     yes          fair                 yes
13   14       senior  medium      no     excellent                  no

In [3]:
buy = pd_data.loc[pd_data['class_buys_computer'] == "yes"]
not_buy = pd_data.loc[pd_data['class_buys_computer'] == "no"]

In [4]:
x = np.array([len(buy)/len(pd_data),len(not_buy)/len(pd_data)])
y = np.log2(x)

info_all = - sum(x * y)
info_all

0.94028595867063114

In [5]:
def get_info(df):
    buy = df.loc[df["class_buys_computer"]=="yes"]
    not_buy = df.loc[df["class_buys_computer"]=="no"]
    x = np.array([len(buy)/len(df),len(not_buy)/len(df)])
    y = np.log2(x[x!=0])
    

    info_all = - sum(x[x!=0] * y)
    return info_all

In [6]:
get_info(pd_data)

0.94028595867063114

In [7]:
youth = pd_data.loc[pd_data['age'] == "youth"]
senior = pd_data.loc[pd_data['age'] == "senior"]
middle_aged = pd_data.loc[pd_data['age'] == "middle_aged"]

In [8]:
get_info(youth)

0.97095059445466858

In [9]:
get_info(senior)

0.97095059445466858

In [10]:
get_info(middle_aged)

-0.0

In [11]:
def get_attribute_info(df, attribute_name):
    attribute_values = pd_data[attribute_name].unique()
    get_infos = []
    for value in attribute_values:
        split_df = pd_data.loc[pd_data[attribute_name] == value]
        
        get_infos.append((len(split_df) / len(df)) * get_info(split_df))
    
    return sum(get_infos)

In [12]:
get_attribute_info(pd_data, "age")

0.69353613889619181

In [13]:
get_info(pd_data) - get_attribute_info(pd_data, "age")

0.24674981977443933

In [14]:
get_info(pd_data) - get_attribute_info(pd_data, "income")

0.029222565658954869

In [15]:
get_info(pd_data) - get_attribute_info(pd_data, "student")

0.15183550136234159

In [16]:
get_info(pd_data) - get_attribute_info(pd_data, "credit_rating")

0.048127030408269489

In [22]:
youth = pd_data.loc[pd_data['age'] == "youth"]

In [23]:
get_info(youth) - get_attribute_info(youth, "income")

-1.580026905978025

In [24]:
get_info(youth) - get_attribute_info(youth, "student")

-1.2367106860085422

In [25]:
get_info(youth) - get_attribute_info(youth, "credit_rating")

-1.527094404679944