In [20]:
import pandas as pd

columns = [str("A"+str(i)) for i in range(9)] + ["class"]
df = pd.read_csv("shuttle-2_vs_5.dat", names=columns)
df.head()

    A0  A1   A2  A3  A4  A5  A6   A7   A8     class
0   85   0   88  -4   6   1   3   83   80  negative
1  106   2  108   0  70   0   1   38   36  negative
2   79   5   83   0 -46   0   4  130  126  negative
3   76   0   81  -2 -40  13   5  122  118  negative
4  104   7  105   7  70   0   1   35   34  negative

In [21]:
sum(df["class"] == "negative"), sum(df["class"] == "positive")
df["class"].value_counts()

negative    3267
positive      49
Name: class, dtype: int64

In [ ]:
X = df.loc[:,columns[:-1]].astype(float).values
Y = df.loc[:,columns[-1]].values

In [58]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(Y)
Y = le.transform(Y)

In [146]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=21)

In [147]:
sum(y_train==0), sum(y_train==1)

(2614, 38)

In [148]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((2652, 9), (2652,), (664, 9), (664,))

In [149]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe_lr = Pipeline(steps=[('scl', StandardScaler()), ('clf', LogisticRegression())])

pipe_lr.fit(X=x_train, y=y_train)
pipe_lr.score(x_test, y_test) #Accuracy

0.99849397590361444

In [150]:
y_pred = pipe_lr.predict(x_test)
y_true = y_test

In [151]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true, y_pred)

array([[653,   0],
       [  1,  10]])

In [152]:
import numpy as np
tp = set((np.where(y_true==1)[0]).tolist()) & set((np.where(y_pred==1)[0]).tolist()) #True Positive
fn = set((np.where(y_true==1)[0]).tolist()) & set((np.where(y_pred==0)[0]).tolist()) #False Negative
fp = set((np.where(y_true==0)[0]).tolist()) & set((np.where(y_pred==1)[0]).tolist()) #False Postive
tn = set((np.where(y_true==0)[0]).tolist()) & set((np.where(y_pred==0)[0]).tolist()) #True Negative

len(tp), len(fn), len(fp), len(tn)

(10, 1, 0, 653)

In [153]:
from sklearn import metrics
metrics.precision_score(y_true, y_pred)

1.0

In [154]:
metrics.recall_score(y_true, y_pred)

0.90909090909090906

In [155]:
metrics.f1_score(y_true, y_pred)

0.95238095238095233

In [156]:
print(metrics.classification_report(y_true, y_pred)  )

             precision    recall  f1-score   support

          0       1.00      1.00      1.00       653
          1       1.00      0.91      0.95        11

avg / total       1.00      1.00      1.00       664