In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

%matplotlib inline

# 사이킷런 내장 데이터 셋 API 호출
iris = load_iris()

# 넘파이 데이터 셋을 Pandas DataFrame으로 변환
columns = ['sepal_length','sepal_width','petal_length','petal_width']
irisDF = pd.DataFrame(iris.data , columns=columns)
irisDF['target']=iris.target
target_names = {idx:name for idx,name in enumerate(iris.target_names.tolist())}
irisDF['target_names'] = irisDF['target'].replace(target_names)

irisDF

     sepal_length  sepal_width  petal_length  petal_width  target target_names
0             5.1          3.5           1.4          0.2       0       setosa
1             4.9          3.0           1.4          0.2       0       setosa
2             4.7          3.2           1.3          0.2       0       setosa
3             4.6          3.1           1.5          0.2       0       setosa
4             5.0          3.6           1.4          0.2       0       setosa
..            ...          ...           ...          ...     ...          ...
145           6.7          3.0           5.2          2.3       2    virginica
146           6.3          2.5           5.0          1.9       2    virginica
147           6.5          3.0           5.2          2.0       2    virginica
148           6.2          3.4           5.4          2.3       2    virginica
149           5.9          3.0           5.1          1.8       2    virginica

[150 rows x 6 columns]

In [5]:
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion

class SVDandCocaternatter(TransformerMixin):
    def __init__(self, data):
        self.origianl_data = data
        
    def transform(self, X, n_of_components = 5, *_):
        return np.
    
    def fit(self, *_):
        return self

In [6]:
kvpairs = [ ['k1', 'v1'], ['k2', 'v2'] ]
KVExtractor( kvpairs ).transform(D)

k1    a
v1    1
k2    b
v2    2
Name: 0, dtype: object
k1    b
v1    2
k2    c
v2    3
Name: 1, dtype: object

[{'a': 1, 'b': 2}, {'b': 2, 'c': 3}]